@import "styles.less";
@import "utils.less";
@import "normalize.less";

// Setup initial conditions
html {
  font-size: 10px; // set up rem
}

p {
  font-size: 1.6rem;
}
* {
  font-family: @font-ubuntu;
}

body {
  margin: 0;
  background-color: @background-light;
}