@import "styles.less";
@import "utils.less";
@import "normalize.less";

// Setup initial conditions
* {
    font-family: Ubuntu, monospace;
}

body {
    margin: 0;
    background-color: @background-light;
}


// topnav
#topnav {
  @media screen and (max-width: 768px) {
    display: none;
  }
}