// colors
@blue: #56D5FC;
@dark-blue: #1587F8;
@red: #FF6767;
@orange: #FFBB21;
@green: #3CFCA3;
@green2: #30DEB6;

// text and bg
@white: #F7F7F7;
@grey: #D8D8D8;
@dark-grey: #D8D8D8;
@black: #1F1F1F;

// bg
@blue-gradient: linear-gradient(180deg, #00bdfe 25%, #007afe 100%);
@bg-gradient: linear-gradient(45deg, #868AED, #789EE6, #65A2EB, #67C3E5);
@multicolor-gradient: linear-gradient(to right, @blue, @green, @orange, @red);

@white-shadow: 2px 2px 30px @white;
@dark-shadow: 0px 0px 30px @dark-grey;

// fonts
@font: -apple-system, system-ui, BlinkMacSystemFont;

// breakpoints
@xs:   ~"only screen and (max-width: 600px)";
@sm:   ~"only screen and (min-width: 601px) and (max-width: 960px)";
@md:   ~"only screen and (min-width: 961px) and (max-width: 1264px)";
@lg:   ~"only screen and (min-width: 1265px) and (max-width: 1904px)";
@xl:   ~"only screen and (min-width: 1905px)";

// utils
@card-border: 10px;