// colors
@cold-blue: #007AFE;
@blue-secondary: #00BDFE;
@lava-red: #FF6767;
@cool-orange: #FFAA6C;
@sweet-green: #30DEB6;

@light-blue: #9AC5FF;
@dark-blue: #5B6E88;
@dark-grey: #646C76;
@grey: #707070;
@grey-darker: darken(@dark-grey, 20%);
@background-light: #EDEDED;

@blue-gradient: linear-gradient(180deg, #00bdfe 25%, #007afe 100%);
@red-gradient: linear-gradient(180deg, #FF6767 25%, #ED6D8B 100%);

@red-shadow: 2px 2px 20px @lava-red;
@blue-shadow: 2px 2px 20px @cold-blue;
@light-blue-shadow: 2px 2px 20px @blue-secondary;
@white-shadow: 2px 2px 20px white;
@dark-shadow: 1px 1px 10px @dark-grey;

@font-ubuntu: 'Ubuntu', 'monospace';


